<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <servlet>
    <servlet-name>HelloAppEngine</servlet-name>
    <servlet-class>edu.stts.HelloAppEngine</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloAppEngine</servlet-name>
    <url-pattern>/hello</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>database</display-name>
    <servlet-name>database</servlet-name>
    <servlet-class>edu.stts.database</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>database</servlet-name>
    <url-pattern>/database</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>coba</display-name>
    <servlet-name>coba</servlet-name>
    <servlet-class>edu.stts.coba</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>coba</servlet-name>
    <url-pattern>/coba</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>pagination</display-name>
    <servlet-name>pagination</servlet-name>
    <servlet-class>edu.stts.pagination</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>pagination</servlet-name>
    <url-pattern>/pagination</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>reviewServlet</display-name>
    <servlet-name>reviewServlet</servlet-name>
    <servlet-class>edu.stts.reviewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>reviewServlet</servlet-name>
    <url-pattern>/reviewServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Wishlist</display-name>
    <servlet-name>Wishlist</servlet-name>
    <servlet-class>edu.stts.Wishlist</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Wishlist</servlet-name>
    <url-pattern>/Wishlist</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Serve</servlet-name>
    <url-pattern>/Serve</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Serve</display-name>
    <servlet-name>Serve</servlet-name>
    <servlet-class>edu.stts.Serve</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>Upload</display-name>
    <servlet-name>Upload</servlet-name>
    <servlet-class>edu.stts.Upload</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Upload</servlet-name>
    <url-pattern>/Upload</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Foto</display-name>
    <servlet-name>Foto</servlet-name>
    <servlet-class>edu.stts.Foto</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Foto</servlet-name>
    <url-pattern>/Foto</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FotoPlace</display-name>
    <servlet-name>FotoPlace</servlet-name>
    <servlet-class>edu.stts.FotoPlace</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FotoPlace</servlet-name>
    <url-pattern>/FotoPlace</url-pattern>
  </servlet-mapping>
</web-app>